
.cardContainer{
  border: 3px solid black;
  border-radius: 3px; 
  width: 81vw;
  min-height: 50vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 30px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

@media screen and (max-width:375px){
.cardContainer {
  width: 90%;
  padding: 10%;
  min-height: auto;
}
}