.employeeContainer {
  border: 1px solid black;
  border-radius: 5px;
  width: 14rem;
  height: 15rem;
  padding-bottom: 1rem;
  box-shadow: 1rem;

  &__nameText {
    padding-left: 0.5rem;
  }

  &__roleText { 
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  

}

