.employeeContainer {
  border: 1px solid black;
  border-radius: 5px;
  width: 14rem;
  height: 15rem;
  padding-bottom: 1rem;

  &__Counter{
    border: 1px solid black;
    border-radius: 7px;
    margin: 1rem;
    padding-bottom: 0.7rem;
  }

  &__counterTitle{
    text-align: center;
  }

  &__counterValue {
    text-align: center;
  }

  &__btnContainer {
    display: flex;
    justify-content: space-around;
  }

}