.headerText {
  text-align: center;
  font-size: xx-large;
  font-family:Arial, Helvetica, sans-serif;

  width: 100vw;
  margin-bottom: 5rem;
  padding: 25px;
}

@media screen and (max-width:375px){
  .headerText {
    margin: auto;
  }
  }